.join {
  @include margin($cover-lines-size null);
  @include section-reversed;
  background-image: url('/static/img/pr-cycle.png');
  background-position: 95% bottom;
  background-repeat: no-repeat;
  background-size: auto 50%;

  @include mq($bp--tablet) {
    background-size: auto 90%;
  }
}

.join__title {
  @include section-title(true);
}

.join__text {
  @include mq($bp--desktop) {
    max-width: 50%;
  }
}

.join__form {
  margin-top: $spacing--md;
}
