@font-face {
  font-family: 'Adieu';
  font-style: normal;
  font-weight: 400;
  src: url('/static/fonts/Adieu-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Adieu';
  font-style: normal;
  font-weight: 700;
  src: url('/static/fonts/Adieu-Black.woff2') format('woff2');
}
